#bg{
	fill:none;
}
/*text{
	opacity: 0;
}*/
#app-screen{
	margin-top: 60px;
}
body{
	overflow-x:hidden;
/*	border-top:1px solid #ed1b24;*/
}
h1, h2, h3, h4{
	font-family: "Roboto Slab", serif;
}
.result-container, .spin-container, .end-container{
	width:100%;
	text-align: center;
	font-family: helvetica;
	position: absolute;

}
.spin-container, .end-container{
	left: 120%;
	
}
#pointer{
	content: "";
	width:3px;
	height: 6px;
	/*background-color: #000;*/
	margin:0 auto;
}

.start-game{
	text-align: center;
}
.glyphicon-arrow-down{
	right: 5px;
}
.btn{
	cursor:pointer;
}
.next-button.btn{
	margin-top: 20px;
}
.logo-container{
	width:57px;
	height: 57px;
	background:url(../logo.png);
	background-size: cover;
	margin: 0 auto;
	display: inline-block;
}
#header{
	position:absolute;
	top:20px;
	width:100%;
	text-align: center;
}
#footer{
	position:relative;
	top:560px;
	width:100%;
	text-align: center;
}


