
form{

margin-left: 45%;

margin-top: 18%;


}


body{



background-image:url("http://media1.giphy.com/media/o9OwkG1z0veIU/giphy.gif");




background-repeat:none;



background-size:cover;

}










div.ss-q-title{



color:white;




}



div.ss-q-help{
	

color:red;



}
