@charset "utf-8";

* {margin:0; padding:0;}

body{
	margin: 0;
	min-width: 980px;
	padding: 0;
	background: #ededed;
	
}

#logo a img {
	width: 80px;
}

#nav li {
	margin: 2.1em 1em;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

#nav li a {
	font-size: 1.8em;	
}

/*
::::::::::::::::
::: HOME ::::
::::::::::::::::
*/

.body_ p{
}

.body_ h2 { margin: 0; }

h1 {font-size: 6em;}

h2#tagline {
	margin: 300px 0 0 0 ;
	opacity: 0;
	color: white;
	text-shadow: rgba(0, 0, 0, 0.14902) 0px 2px 1px;
}

.body_ #intro{
	/*
	the height of this div determines how long the scroll is.
	Make sure to also edit the JS
	*/
	height:500px;
	width:100%;
	position: absolute;
	top:0;
	left:0;
	z-index:194;
}

#overlaid{
	/*
	This is the image that fades in 
	*/
	background-image:  url(http://delmarsenties.s3.amazonaws.com/resilient/hero2.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: 50% 0 ;
	background-attachment: fixed;
	color: white;
	height: 700px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	z-index: 2;
	position: absolute;
	top: 0;
	width: 100%;
}

#underlaid{
	/*
	This is the bottom image 
	*/
	z-index:1;
	background-image:  url(http://delmarsenties.s3.amazonaws.com/resilient/hero1.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: 50% 0 ;
	background-attachment: fixed;	color: white;
	position: absolute;
	width: 100%;
	height: 700px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}

.body_ #container {
	position: absolute;
	width: 100%;
	z-index:4;
	margin: 0;
}

.body_ section {
	width: 800px;
	text-align: center;
	margin: 0 auto;
}

.body_ #header {
	width: 70%;
	margin: 400px 0 0 -35%;
	background: white;
	position: absolute;
	left: 50%;
	background: transparent;
	z-index: 4;
}

.body_ #tier2 {
	position: absolute;
	top: 700px;
	text-align: center;
	width: 100%;
	padding: 60px 0 90px 0;
	z-index: 3;
}

.body_ #tier2 * {}

.body_ #tier3 {
	position: absolute;
	top: 1357px;
	padding: 0px;
	background: #333;
	color: #f7f7f7;
}

.body_ #tier2 h2 {
	margin: 100px 0 30px 0;
}

.body_ #tier3 h2 {
	margin: 1.2em 0 .5em 0;
}

#footer_home .footer {
	
}

.body_ .footer {
	background: #333;
	color: #ccc;
	padding-top: 40px;
}


/*
::::::::::::::::
::: PAGES ::::
::::::::::::::::
*/



#container {
	margin: 0px auto;
	text-align: center;
	width: 800px;
	
}

.hero {
	height: 400px;
	margin: 100px auto 0 auto;
}

.body_students .hero { background-image: url(https://delmarsenties.s3.amazonaws.com/resilient/teep_lj.jpg);}
.body_you .hero { background-image: url(https://delmarsenties.s3.amazonaws.com/resilient/teep_ed.jpg);}
.body_program .hero { background-image: url(https://delmarsenties.s3.amazonaws.com/resilient/teep_rk.jpg);}
.body_roadmap .hero { height: 60px;}

/*
::::::::::::::::
::: ROADMAP ::::
::::::::::::::::
*/

.body_roadmap h4, 
.body_roadmap ul {
	float: left;
	width: 46%;
	display:block;
}

.body_roadmap h4 {
	text-align: right;
	margin: 0 4% 0 0;
	line-height: 1.6em;
}