@import url("mobile.css") (max-width: 767px);

@import url("tablet.css") (min-width: 768px) and (max-width: 1025px);

@import url("desktop.css") (min-width: 1026px);

/* #General styles
================================================== */

/* red: #ed1b24; */


@font-face {
    font-family: 'league gothic';
    src: url('/f/LeagueGothic.otf');
}
@font-face {
    font-family: 'brix';
    src: url('/f/BrixSlab-Medium.otf');
}
@font-face {
    font-family: 'carton';
    src: url('/f/Carton-Slab.otf');
}

@import url(http://fonts.googleapis.com/css?family=Lato:900|Bitter);

* {
	margin:0;
	padding:0;
  vertical-align:top;
}
body {
	font-family: "Bitter", "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: center;
	margin:0 auto;
	background: #f7f7f7;
	font-size: 81.25%;
}

img {display: block;}

h1 {
	font-family: "league gothic", helvetica;
	text-transform: uppercase;
	text-shadow: rgba(0, 0, 0, 0.15) 0px 2px 1px;
	color: white;
	-webkit-font-smoothing: antialiased;
}

h2, h3 {
	font-family: "league gothic", helvetica;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
}

h2 {font-size: 4em;
	/* color: #ed1b24;  RED */
	color: #333;
	margin: 1.6em 0;
	}



h3 {font-size: 3em; margin: 1em; width:90%; float: left;}

h4 {color: #ed1b24;}

p { text-align: left; }

ul, ol, li { list-style-type:none; }

.clear {clear: both; width:100%;}

ul#nav {float: left;}

img {border:none;}

a { text-decoration:none; color:#666; }

a:hover { text-decoration:none; color:#0093c2; }

.red { color: #ed1b24; }

.footer {
	text-align: center;
	width: 100%;
	padding: 12px 0;
}

.photocredit {display:none;}

p { margin: 0 0 20px 0;}

p.intro {
	font-family: "Roboto Slab", serif;
	font-size: 1.8em;
	color: #666;
	padding: 0 0 2em 0;
  border-bottom: 1px solid #d8d8d8;
	margin: 0 0 2.4em 0;
	}

p, li {
font-size: 1.2em;
line-height: 1.4;
text-align:left;
}

b, i, a {font-size: 1em; }

b {font-weight: bold; }

.hidden {display:none;}
.visible {display: block;}

#logo_skull {
	width: 15%;
}

#logo {
	float: left;
	background: #ed1b24;
}

#logo_nav {
	position: fixed;
	top: 0px;
	width: 100%;
	float: left;
	z-index:8;
	background: white;
}

.body_ #logo_nav.fixed {position:fixed;}

#nav li {
	float: left;
}

#nav li a {
	/*
	font-family: "league gothic", helvetica;
	text-transform: uppercase;

	font-family: bold "Roboto Slab", serif;
	*/
	font-family: Helvetica;
	font-size: 1em;
	color: #ed1b24;
	-webkit-font-smoothing: antialiased;
}

p a, li a {
	color: #ed1b24;
}

section,
.footer {float: left;}

.footer {/* padding-top:4em; */}

#tier2 {
  padding-bottom: 50px;
}

/*
::::::::::::::::
::: HOME ::::
::::::::::::::::
*/

.body_ section {float: none;}

.body_ .container > div {
  max-width: 1000px;
  width: 90%;
  float: none;
  margin: 0 auto;
}

#tier3 {
	text-align: center;
	width: 100%;
	z-index:1;
}

#tier3 h2 {
	color: #d6d6d6;
}

#tier3 .product p {text-align: justify;}

/*
::::::::::::::::
::: HOME : TWITTER
::::::::::::::::
*/

.product.twitter {
	border-top: 1px solid #999;
	padding: 40px 0;
}

.product.twitter p a {
	font-size: .9em;
	color: #666;
}

.product.twitter p a:hover {
}

.product.twitter a img {
	width: 60px;
	margin: 40px auto 0 auto;
}

/*
::::::::::::::::
::: PAGES ::::
::::::::::::::::
*/

/*
.hero {
	width: 100%;
	display: block;
	float: left;
	background-size: 100% auto;
	background-position: center top;
	background-repeat: no-repeat;
}

*/

#preload, #preload * {height: 0;}

.container {
	padding: 100px 0 0 0 ;
}

.container > div {
  float: left;
}

img.program_3model {float: left;}

.body_roadmap h2 {margin: -40px 0 0 0;}

/*
STUDENTS
*/

.body_students section,
.body_roadmap section {
	width:100%;
	margin: 2em 0 0 0;
}

ul.student_gallery li.title,
ul.student_gallery li a {
	width: 96%;
	padding: 2% 0 2% 4%;
	display: block;
}

ul.student_gallery li.title {
	background-color: #333;
	color: #fff;
}

ul.student_gallery li a {
	background-color: #dadada;
	color: #333;
}

ul.student_gallery li a:hover,
ul.student_gallery li:nth-child(2n+2) a:hover {
	color: white;
	background-color: #ed1b24;
}

ul.student_gallery li:nth-child(2n+2) a {
background-color: #e5e5e5;
}

.meta {
	color: #666;
	padding: 0 1em 0 0;
	/* color: #ed1b24; */
}

/*
::::::::::::::::
::: PROGRAM ::::
::::::::::::::::
*/

.product {

}

.program_nav {
	max-width: 900px;
	width: 100%;
  margin: 0 auto;
}

.program_nav li a {
	width: 13%;
	padding: 20% 10% 12% 10%;
	float: left;
	display: block;
	overflow: hidden;
	text-indent:-999;
	font-size: 0;
	line-height: 0;
	background-color: transparent;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.program_nav li a:hover {
	background-color: #dfdfdf;
}
.program_nav li a#selected {
	background-color: #333;
}

/* PHOTOS, PHOTO CREDIT */

.program_nav li a.popup,
.program_nav li a.popup:hover { background-image: url("https://resilientcoders.s3.amazonaws.com/i/3model_popupTop.png");}
.program_nav li a.popup#selected { background-image: url("https://resilientcoders.s3.amazonaws.com/i/3model_popupBottom.png");}
.program_nav li a.coworking,
.program_nav li a.coworking:hover { background-image: url("https://resilientcoders.s3.amazonaws.com/i/3model_coworkingTop.png");}
.program_nav li a.coworking#selected { background-image: url("https://resilientcoders.s3.amazonaws.com/i/3model_coworkingBottom.png");}
.program_nav li a.resilient,
.program_nav li a.resilient:hover { background-image: url("https://resilientcoders.s3.amazonaws.com/i/3model_resilientTop.png");}
.program_nav li a.resilient#selected { background-image: url("https://resilientcoders.s3.amazonaws.com/i/3model_resilientBottom.png");}

.body_team .photocredit.krysta {display:block;}
.body_ .photocredit.andyfilm {display:block;}
.body_lab .photocredit.andyphoto {display:block;}

.body_program #tier3 {
	background: #333;
	color: #dbdbdb;
	margin-top: -1px;
}



/*
::::::::::::::::
::: ROADMAP ::::
::::::::::::::::
*/

.body_roadmap section li {
	list-style-type: disc;
	padding: 0 0 1em 0;
}

/*
::::::::::::::::
::::: Team :::::
::::::::::::::::
*/

.body_team .partners {
	background: white;
}

.body_team .partners ul {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.body_team .partners ul li { width: 19%; float: left; display: block; }
.body_team .partners ul li a { width: 80%; float: left; }
.body_team .partners ul li a img { width: 100%; }
.body_team .partners ul li.tugg {margin: 10px 0 0 0; }
.body_team .partners ul li.tugg a img#cic {width:50%; margin: 20px 0 0 20px; float: right; }

.body_team .partners ul li.goulston a { margin: 15px 0; }

.body_team .container {
  /* margin: 0px 5%; */
  width: 100%;
  margin: 0;
}

.team, .partners{
	float: left;
  width: 100%;
}

.team {
  margin: 0;
}

.team ul{
	display: block;
	float: left;
}
.team li, .partners li{
	line-height: 0;
}
.team li a,
.team li a.unselected {
	display: block;
	float: left;
	margin: 0 auto;
}

.team li a:hover,
.team li a.unselected:hover {
	opacity: 1;
	display: block;
	float: left;
	margin: 0 auto;
}

.team li a img {
	width: 100%;
}

.partners li img{
	width: 80%;
	padding: 0 10%;
}

.team_hiddenCopy, .partners_hiddenCopy{
	display: none;

}
.team_writeup {
	text-align: left;
}

.team h2 { margin: 0; }
.team h3 { color: #ed1b24; }

.team h3, .partners h3{
	margin: 0;

}

.selected {opacity:1;}
.unselected {opacity:.4;}

.clr {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    clear: both;
    height: 1px;
    width: 100%;
}

.partners { padding: 80px 0;}


/*
::::::::::::::::
:::: Donate ::::
::::::::::::::::
*/

.body_donate .container{

}
.body_donate h2 {

	width: 100%;
	/*text-align: center;*/
}

.body_donate #tier2 ul,
.body_donate #tier2 ul li {
	text-align: left;
	margin: 0 0 1em 0;
}

.body_donate #tier2 p.intro {
	width: 100%;
	clear:both;
}

.body_donate #tier2 img {
}

#shirts-container{
	float: none;
	width: 90%;
	max-width: 500px;
	height: auto;
	overflow-y: scroll;
	background: #f7f7f7;
	margin: 40px auto;
	padding: 5%;
	color: #333;
	font-family: "league gothic", helvetica;
	text-align: left;
	z-index: 60;
}
#shirts{
	margin: 50px 0;
	height: auto;
}
.merch{
	width: 33%;
	height: 250px;



}
#shirt-w{
	float: left;
	background: url('../donate/i/white-f.png') no-repeat top center;
	background-size: 100% auto;
	margin-top: 25px;
}
#shirt-w:hover{
	background: url('../donate/i/white-b.png') no-repeat top center;
	background-size: 100% auto;
}
#shirt-r{
	float: left;
	background: url('../donate/i/red-f.png') no-repeat top center;
	background-size: 100% auto;
	margin-top: 25px;
}
#shirt-r:hover{
	background: url('../donate/i/red-b.png') no-repeat top center;
	background-size: 100% auto;
}
#hoodie{
	float: left;
	background: url('../donate/i/hoodie.png') no-repeat top center;
	background-size: 100% auto;
}
.donate-button, input[type="submit"].donate-button{
	color: #ededed;
	text-align: center;
	background-color: #333;
	display: inline-block;
	cursor: pointer;
	border: none;
	font-family: bold "Roboto Slab", serif;
}

form .donate-button, form input[type="submit"].donate-button {
	width: 100%;
	padding: 5% 0;
}

.donate-button p {
	text-align: center;
	margin: 0;
}

.donate-button p:first-child {
	font-weight: 500;
	font-family: "Roboto Slab", serif;
}

input[type="submit"].donate-button{
	margin-top: 40px;
}

::-webkit-input-placeholder {
   color: rgba(51, 51, 51, .75);
   text-transform: capitalize;

}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(51, 51, 51, .75);
   text-transform: capitalize;

}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(51, 51, 51, .75);
   text-transform: capitalize;

}

:-ms-input-placeholder {
   color: rgba(51, 51, 51, .55);
   text-transform: capitalize;

}
.overlay{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .75);
	position: fixed;
	top: 0;
	left: 0;
	z-index: -60;

	cursor: pointer;
}
.modal{
	position: absolute;
	top: 0;
	left: 0;

	background-size: cover;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 100;
}
.modal.open{
	display: inline-block;
}
.modal h2{
	font-size: 3em;
	padding-left: 5px;
	margin: 10px 0;
}
#donate-modal form, #confirmation{
	width: 90%;
	max-width: 500px;
	height: auto;
	overflow-y: scroll;
	background: #f7f7f7;
	margin: 40px auto;
	padding: 5%;
	color: #333;
	font-family: "league gothic", helvetica;
	text-transform: uppercase;
	text-align: left;
	z-index: 60;
}
#confirmation{
	display: none;
	text-align: center;

}
.form-title, form li{
	font-size: 2em;
}
.form-title{
	font-size: 2em;
/*	line-height: 1.6em;*/
/*	margin: 0 0 20px 0;*/
	text-align: left;

}
.ss-form-question {
	display: block;
	float: left;
}
.modal p{
	text-transform: initial;
	font-size: 1.3em;
	font-family: "Bitter", "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;

}
#donate-modal form ul{
/*	margin: 30px 0;
	font-size: 1.5em;*/
}
#donate-modal form ul li{
	display: inline;
}
ul.ss-choices{
	display: inline;
}
.ss-form-entry *{
	display: inline;
}
.ss-form-entry{
	margin-top: 10px;
	/*white-space: nowrap;*/
}
.ss-choice-label{
	border: 3px solid #f7f7f7;
	padding: 4px 8px;
	cursor: pointer;
	line-height: 0;


	transition: all 0.2s ease 0.0s;
		-moz-transition: all 0.2s ease 0.0s;
		-webkit-transition: all 0.2s ease 0.0s;
		-o-transition: all 0.2s ease 0.0s;
		-ms-transition: all 0.2s ease 0.0s;
}
.ss-choice-label:hover{
	border: 3px solid #999999;
}
/*#donate-modal form ul li.selected{
	border: 3px solid #333;
	background: #333;
	color: #FFF;

}*/
#donate-modal form ul li.list-title, #donate-modal form ul li.list-title.selected{
	border: 3px solid #f7f7f7;
}
#donate-modal form input[type="text"]{
	height: 40px;
	color: #333;
	padding: 0 10px;
	font-size: 1em;
	margin: 0;
}

#donate-modal form .small {
	font-size: 0.9em;
	padding: 1em 0;
	display:block;
}

#donate-modal form input[type="text"].full-text-input{
	max-width:474px;
}
#donate-modal form input[type="text"].half-text-input{
	width:245px;
	float: left;
	margin-bottom: 7px;
}
#donate-modal form input[type="text"].quarter-text-input{
	width:80px;
	margin-left: 10px;
	float: left;
	margin-bottom: 7px;
}
#donate-modal form input[type="radio"]{
	display: none;
}
#donate-modal form input[type="radio"]:checked + .ss-choice-label{
	border: 3px solid #333;
	background: #333;
	color: #FFF;
}

.modal .donate-button, .modal input[type="submit"].donate-button { font-size: 1.6em; }

#navigation-table {width: 100%; }

.left50 iframe {width:100%; height:281px;}

.left50 img {width:100%;}

.body_donate #tier2 a.donate-button {
	width: 100%;
}

.body_donate #tier2 a:hover.donate-button {
	color: white;
}

.body_donate .hr {
	background: #d8d8d8;
	float: left;
	height:1px;
	width: 100%;
	margin: 40px 0;
}

/*
::::::::::::::::
:::: NEWSLETTER SIGNUP ::::
::::::::::::::::
*/


#mc_embed_signup {
	margin: 0 auto;
	width: 100%;
	max-width: 500px;
}

#mc_embed_signup * {
	text-align: left;
}

#mc_embed_signup label, #mc_embed_signup input {
	font-size: 1em;
	color: #666;
}

#mc_embed_signup input[type="text"],
#mc_embed_signup input[type="email"] {
	padding: 2%;
}

#mc_embed_signup input[type="text"],
#mc_embed_signup input[type="email"],
#mc_embed_signup input[type="submit"] { float: left; width: 96%;}

#mc_embed_signup input[type="submit"] {
	background-color: #222;
	padding: 4%;
	border: none;
	color: white;
	text-align: center;
	text-transform: uppercase;
	margin: 0 0 50px 0;
}

#mc_embed_signup input[type="submit"]:hover {
	background-color: #f22435;
	transition: all 0.3s ease 0.0s;
		-moz-transition: all 0.3s ease 0.0s;
		-webkit-transition: all 0.3s ease 0.0s;
		-o-transition: all 0.3s ease 0.0s;
		-ms-transition: all 0.3s ease 0.0s;
	cursor: pointer;
}


.checkbox {
	float: left;
	margin: 5% 0;
	width: 100%;
	clear: right;
}

.response {
	float: left;
	display: block;
	margin: 2em 0;
	color: #666;
}


/*
::::::::::::::::
::: Micah Video :::
::::::::::::::::
*/
#micahvideo #black {
	position: fixed;
	z-index:200;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.90;
}

#micahvideo #x {
	width: 30px;
	position: absolute;
	z-index: 201;
	right: 15px;
	top: 15px;
	cursor: pointer;
}

#micahvideo #video {
	position: absolute;
	top: 100px;
	width: 90%;
	max-width: 500px;
	z-index: 201;
	color: white;
}

#micahvideo #video h1 {
	margin: 0 0 0.5em 0;
}

#micahvideo #video p {
	margin: 1.4em 0;
}

#micahvideo #video p.intro {
	border-bottom: none;
	margin: 2em 0 0 0;
	color: white;
}

#micahvideo .donate-button {
  width: 100%;
  margin: 5% 0;
}

.body_donate a.donate-button,
.body_donate li.donate-button {
	width: 100%;
	margin: 1em 0;
	padding: 1em 0;
	background-color: #333;
	border-radius: 6px;
}

.body_donate a:hover.donate-button,
.body_donate li:hover.donate-button {
	background-color: #ed1b24;
	color: white;
	transition: all 0.3s ease 0.0s;
		-moz-transition: all 0.3s ease 0.0s;
		-webkit-transition: all 0.3s ease 0.0s;
		-o-transition: all 0.3s ease 0.0s;
		-ms-transition: all 0.3s ease 0.0s;
	cursor: pointer;
}

/*
=========
sponsors
=========
*/
#sponsors{
  max-width:800px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
}

#sponsors a {
  width: 100%;  /* Change as we start getting more sponsors */
  max-width: 120px;
  text-align: center;
  vertical-align: top;
  margin: 40px 0;
  display: inline-block;

}

#sponsors a img {
  width:100%;
  max-width: 80px;
}

#sponsors .horizontal {
  max-width: 140px;
}

#sponsors .horizontal img {
  max-width: 120px;
}

#microsoftLogo{
  background-image: url("../img/microsoftLogo.jpeg");
  background-size: 75% 60%;
  background-repeat: no-repeat;
  background-position: center;
  width: 29%;
  height:25%;
  margin-top: 5%; margin-left: 6.5%;
  display: inline-block;
}
#logoskull{
  background-image: url("../img/logoskull.png");
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 28%;
  height:35%;
  margin-top: 5%;
  display: inline-block;
}
#ypp{
  background-image: url("../img/ypp.jpg");
  background-size: 80% 70%;
  background-repeat: no-repeat;
  background-position: left bottom;
  width: 29%;
  height:50%;
  margin-top: 5%; margin-right:4.5%;
  display: inline-block;
}

/*
::::::::::::::::
:::: Badges ::::
::::::::::::::::
*/

.content_2col {
  margin: 0 auto;
  width:100%;
}

.content_2col div {
  display: inline-block;
  margin: 0;
}

.content_2col div img {
  margin: 0 auto;
}

.content_2col div p {
  margin:2em auto;
  padding: 0;
  width: 90%;
}
