@import url("mobile.css") (max-width: 767px);

@import url("tablet.css") (min-width: 768px) and (max-width: 1025px);

@import url("desktop.css") (min-width: 1026px);

/* #General styles
================================================== */

@font-face {
    font-family: 'league gothic';
    src: url('/f/LeagueGothic.otf');
}
@font-face {
    font-family: 'brix';
    src: url('/f/BrixSlab-Medium.otf');
}
@font-face {
    font-family: 'carton';
    src: url('/f/Carton-Slab.otf');
}

* {
	margin:0;
	padding:0;
}
body {
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: center;
	margin:0 auto;
	background: #f7f7f7;
	font-size: 81.25%;
}

h2 {
	margin: 1.2em 0 .5em 0;
}

.body_ p { text-align: center; }

ul, ol, li { list-style-type:none; }

img {border:none;}

a { text-decoration:none; color:#666; }

a:hover { text-decoration:none; color:#0093c2; }

#tier3 {
	text-align: center;
	width: 100%;
}

#tier3 .product p {text-align: justify;}

#logo a {
background-image: url(http://delmarsenties.s3.amazonaws.com/resilient/resilient_logo.png);
background-position: center top;
background-repeat: no-repeat;
display: block;
overflow: hidden;
text-indent: -999px;
}

.footer {
	text-align: center;
	width: 100%;
	padding: 12px 0;
}

/*
::::::::::::::::
::: PAGES ::::
::::::::::::::::
*/

p {
margin: 0 0 20px 0;
font-size: 1.2em;
line-height: 1.4;
text-align:left;
}

b, i, a {font-size: 1em; }

b {font-weight: bold; }

#nav {
	z-index: 0;
	position: fixed;
	top: 0px;
	width: 100%;
	float: left;
	z-index:4;
	padding: 12px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 1px;
	background: #f7f7f7;
}

#nav a {
	font: 2.2em "league gothic", helvetica;
	text-transform: uppercase;
	color: #333;
	-webkit-font-smoothing: antialiased;
	
}

p a {
	border-bottom: 1px dotted #666;
}

.body_rlab .footer, .body_brass .footer {
	padding-top: 80px;
}