@import url("mobile.css") (max-width: 767px);

@import url("tablet.css") (min-width: 768px) and (max-width: 1025px);

@import url("desktop.css") (min-width: 1026px);

/* #General styles
================================================== */

/* red: #ed1b24; */


@font-face {
    font-family: 'league gothic';
    src: url('/f/LeagueGothic.otf');
}
@font-face {
    font-family: 'brix';
    src: url('/f/BrixSlab-Medium.otf');
}
@font-face {
    font-family: 'carton';
    src: url('/f/Carton-Slab.otf');
}

@import url(http://fonts.googleapis.com/css?family=Lato:900|Bitter);

* {
	margin:0;
	padding:0;
}
body {
	font-family: "Bitter", "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: center;
	margin:0 auto;
	background: #f2f2f2;
	font-size: 81.25%;
}

h1 {
	font-family: "league gothic", helvetica;
	text-transform: uppercase;
	text-shadow: rgba(0, 0, 0, 0.15) 0px 2px 1px;
	color: white;
	-webkit-font-smoothing: antialiased;
}

h2 {
	font-size: 4em;
	font-family: "league gothic", helvetica;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
}

h3 {
	font-size: 2em;
}

p { text-align: left; }

ul, ol, li { list-style-type:none; }

img {border:none;}

a { text-decoration:none; color:#666; }

a:hover { text-decoration:none; color:#0093c2; }

.footer {
	text-align: center;
	width: 100%;
	padding: 12px 0;
}

p { margin: 0 0 20px 0;}

p, li {
font-size: 1.2em;
line-height: 1.4;
text-align:left;
}

b, i, a {font-size: 1em; }

b {font-weight: bold; }

#logo {
	float: left;
	background: #ed1b24;
	padding: 12px;
}

.logo_nav {
	position: fixed;
	top: 0px;
	width: 100%;
	float: left;
	z-index:8;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 1px;
	background: white;
}

.body_ .logo_nav.fixed {position:fixed;}

#nav li {
	float: left; 
}

#nav li a {
	font-family: "league gothic", helvetica;
	text-transform: uppercase;
	color: #ed1b24;
	-webkit-font-smoothing: antialiased;	
}

p a {
	color: #ed1b24;
}

section,
.footer {float: left;}

.footer {padding-top:4em;}

/*
::::::::::::::::
::: HOME ::::
::::::::::::::::
*/


.body_ .logo_nav {
	position: absolute;
}

.body_ section {float: none;}

#tier3 {
	text-align: center;
	width: 100%;
	z-index:4;
}

#tier3 .product p {text-align: justify;}

.body_ #tier2 h2 {
	margin: 100px 0 30px 0;
}

.body_ #tier3 h2 {
	margin: 1.2em 0 .5em 0;
}


/*
::::::::::::::::
::: PAGES ::::
::::::::::::::::
*/
.hero {
	width: 100%;
	display: block;
	float: left;
	background-size: 100% auto;
	background-position: center top;
	background-repeat: no-repeat;
	
}

.body_students h2,
.body_program h2,
.body_you h2 {
	margin: -40px 0 40px 0;
	color: #ed1b24;
	padding: .4em 0;
	background: white;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 1px;
}

/*
STUDENTS
*/

.body_students section {
	width:100%;
	margin: 2em 0 0 0;
}

ul.student_gallery li a {
	width: 96%;
	padding: 2% 0 2% 4%;
	font-size: 1em;
	display: block;
}

ul.student_gallery li a {
	background-color: #dadada;
}

ul.student_gallery li a:hover,
ul.student_gallery li:nth-child(2n+2) a:hover {
	color: white;
	background-color: #ed1b24;
}

ul.student_gallery li:nth-child(2n+2) a {
background-color: #e5e5e5;
}
