@import url("mobile.css") (max-width: 767px);

@import url("tablet.css") (min-width: 768px) and (max-width: 1025px);

@import url("desktop.css") (min-width: 1026px);

/* #General styles
================================================== */

/* red: #ed1b24; */


@font-face {
    font-family: 'league gothic';
    src: url('/f/LeagueGothic.otf');
}
@font-face {
    font-family: 'brix';
    src: url('/f/BrixSlab-Medium.otf');
}
@font-face {
    font-family: 'carton';
    src: url('/f/Carton-Slab.otf');
}

@import url(http://fonts.googleapis.com/css?family=Lato:900|Bitter);

* {
	margin:0;
	padding:0;
}
body {
	font-family: "Bitter", "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: center;
	margin:0 auto;
	background: #f2f2f2;
	font-size: 81.25%;
}

img {display: block;}

h1 {
	font-family: "league gothic", helvetica;
	text-transform: uppercase;
	text-shadow: rgba(0, 0, 0, 0.15) 0px 2px 1px;
	color: white;
	-webkit-font-smoothing: antialiased;
}

h2, h3 {
	font-family: "league gothic", helvetica;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
}

h2 {font-size: 4em; 
	/* color: #ed1b24;  RED */
	color: #333;
	margin: 1.6em 0;
	}



h3 {font-size: 3em; margin: 1em; width:90%; float: left;}

h4 {color: #ed1b24;}

p { text-align: left; }

ul, ol, li { list-style-type:none; }

ul#nav {float: left;}

img {border:none;}

a { text-decoration:none; color:#666; }

a:hover { text-decoration:none; color:#0093c2; }

.red { color: #ed1b24; }

.footer {
	text-align: center;
	width: 100%;
	padding: 12px 0;
}

p { margin: 0 0 20px 0;}

p, li {
font-size: 1.2em;
line-height: 1.4;
text-align:left;
}

b, i, a {font-size: 1em; }

b {font-weight: bold; }

.hidden {display:none;}
.visible {display: block;}

#logo_skull {
	width: 15%;
}

#logo {
	float: left;
	background: #ed1b24;
}

#logo_nav {
	position: fixed;
	top: 0px;
	width: 100%;
	float: left;
	z-index:8;
	background: white;
}

.body_ #logo_nav.fixed {position:fixed;}

#nav li {
	float: left; 
}

#nav li a {
	/* 
	font-family: "league gothic", helvetica; 
	text-transform: uppercase;
	
	font-family: bold "Roboto Slab", serif;
	*/
	font-family: Helvetica;
	font-size: 1em;
	color: #ed1b24;
	-webkit-font-smoothing: antialiased;	
}

p a, li a {
	color: #ed1b24;
}

section,
.footer {float: left;}

.footer {/* padding-top:4em; */}

/*
::::::::::::::::
::: HOME ::::
::::::::::::::::
*/


.body_ #logo_nav {
	position: absolute;
}

.body_ section {float: none;}

.body h2 {
	margin: 0;
}

#tier3 {
	text-align: center;
	width: 100%;
	z-index:1;
}

#tier3 h2 {
	color: #d6d6d6;
}

#tier3 .product p {text-align: justify;}

/*
::::::::::::::::
::: HOME : TWITTER
::::::::::::::::
*/

.product.twitter {
	border-top: 1px solid #999;
	padding: 40px 0;
}

.product.twitter p a {
	font-size: .9em;
	color: #666;
}

.product.twitter p a:hover {
}

.product.twitter a img {
	width: 60px;
	margin: 40px auto 0 auto;
}

/*
::::::::::::::::
::: PAGES ::::
::::::::::::::::
*/
.hero {
	width: 100%;
	display: block;
	float: left;
	background-size: 100% auto;
	background-position: center top;
	background-repeat: no-repeat;
}

#preload, #preload * {height: 0;}

#container {
	padding: 100px 0 0 0 ;
}

img.program_3model {float: left;}

.body_roadmap h2 {margin: -40px 0 0 0;}

/*
STUDENTS
*/

.body_students section,
.body_roadmap section {
	width:100%;
	margin: 2em 0 0 0;
}

ul.student_gallery li.title,
ul.student_gallery li a {
	width: 96%;
	padding: 2% 0 2% 4%;
	display: block;
}

ul.student_gallery li.title {
	background-color: #333;
	color: #fff;
}

ul.student_gallery li a {
	background-color: #dadada;
	color: #333;
}

ul.student_gallery li a:hover,
ul.student_gallery li:nth-child(2n+2) a:hover {
	color: white;
	background-color: #ed1b24;
}

ul.student_gallery li:nth-child(2n+2) a {
background-color: #e5e5e5;
}

.meta {
	color: #666;
	padding: 0 1em 0 0;
	/* color: #ed1b24; */
}

/*
::::::::::::::::
::: PROGRAM ::::
::::::::::::::::
*/

.program_nav {
	max-width: 900px;
	width: 100%;
}

.program_nav li a {
	width: 13%;
	padding: 20% 10% 12% 10%;
	float: left;
	display: block;
	overflow: hidden;
	text-indent:-999;
	font-size: 0;
	line-height: 0;
	background-color: transparent;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.program_nav li a:hover {
	background-color: #dfdfdf;
}
.program_nav li a#selected {
	background-color: #333;
}

.program_nav li a.popup,
.program_nav li a.popup:hover { background-image: url("https://delmarsenties.s3.amazonaws.com/resilient/3model_popupTop.png");}
.program_nav li a.popup#selected { background-image: url("https://delmarsenties.s3.amazonaws.com/resilient/3model_popupBottom.png");}
.program_nav li a.coworking,
.program_nav li a.coworking:hover { background-image: url("https://delmarsenties.s3.amazonaws.com/resilient/3model_coworkingTop.png");}
.program_nav li a.coworking#selected { background-image: url("https://delmarsenties.s3.amazonaws.com/resilient/3model_coworkingBottom.png");}
.program_nav li a.resilient,
.program_nav li a.resilient:hover { background-image: url("https://delmarsenties.s3.amazonaws.com/resilient/3model_resilientTop.png");}
.program_nav li a.resilient#selected { background-image: url("https://delmarsenties.s3.amazonaws.com/resilient/3model_resilientBottom.png");}

.body_program #tier3 {
	background: #333;
	color: #dbdbdb;
	margin-top: -1px;
}



/*
::::::::::::::::
::: ROADMAP ::::
::::::::::::::::
*/

.body_roadmap section li {
	list-style-type: disc;
	padding: 0 0 1em 0;
}

/*
::::::::::::::::
::::: Team :::::
::::::::::::::::
*/

.team, .partners{
	float: left;
	width: 100%;
}
.team ul, .partners ul{
	float: left;
	width: 50%;
	list-style: none;
}
.team li, .partners li{
	line-height: 0;
}
.team li a, .team li a.unselected, .partners li a, .partners li a.unselected{
	border: 1px solid transparent;
	display: block;
	float: left;
	margin: 0 auto;
	width: 24%;
}
.team li a:hover, .team li a.unselected:hover, .partners li a:hover, .partners li a.unselected:hover{
	border: 1px solid #999;
	display: block;
	float: left;
	margin: 0 auto;
	width: 24%;
}
.team li a img, .partners li a img{
	width: 100%;
}
.team_hiddenCopy, .partners_hiddenCopy{
	display: none;
	
}
.team_writeup, .partners_writeup{
	float: left;
	text-align: left;
	
	padding: 0px 0 0 30px;
	width: 40%;
}
.team h3, .partners h3{
	margin: 0;
	
}
.clr {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    clear: both;
    height: 1px;
    width: 100%;
}
/*
::::::::::::::::
:::: Donate ::::
::::::::::::::::
*/

.body_donate #container{
	margin-top:174px;
}
.body_donate h2 {
	
	width: 100%;
	text-align: center;
}
#shirts-container{
	width: 100%;
	text-align: center;
}
#shirts{
	
}
.merch{
	width: 330px;
	height: 350px;
	
}
#shirt-w{
	float: left;
	background: url('../donate/i/white-f.png') no-repeat top center;
}
#shirt-w:hover{
	background: url('../donate/i/white-b.png') no-repeat top center;
}
#shirt-r{
	float: right;
	background: url('../donate/i/red-f.png') no-repeat top center;
}
#shirt-r:hover{
	background: url('../donate/i/red-b.png') no-repeat top center;
}
a.donate-button{
	width: 150px;
	
	padding: 10px 20px;
	font-weight: 500;
	font-size: 20px;
	color: #FFF;
	text-align: center;
	background-color: #F1142A;
	font-family: "league gothic", helvetica;
	display: inline-block;
	margin: 0 auto;
	
}
a.donate-button:hover{
	background-color: #f22435;
}
::-webkit-input-placeholder {
   color: rgba(51, 51, 51, .75);
   text-transform: capitalize;
   
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(51, 51, 51, .75);
   text-transform: capitalize;
   
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(51, 51, 51, .75); 
   text-transform: capitalize;
    
}

:-ms-input-placeholder {  
   color: rgba(51, 51, 51, .75);
   text-transform: capitalize;
     
}

#donate-modal{
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .75);
	background-size: cover;
	width: 100%;
	height: 100%;
	
	z-index: 100;
}
#donate-modal form{
	width: 500px;
	height: 900px;
	background: #F2F2F2;
	margin: 40px auto;
	padding: 10px 40px;
	
	
	color: #333;
	font-family: "league gothic", helvetica;
	text-transform: uppercase;
	text-align: left;
}
#donate-modal h2{
	font-size: 2em;
	line-height: 1.6em;
	margin: 0 0 20px 0;
	text-align: left;
	
}
#donate-modal p{
	font-size: 1.3em;
	font-family: "Bitter", "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
	
}
#donate-modal form ul{
	margin: 30px 0;
	font-size: 1.5em;
}
#donate-modal form ul li{
	display: inline;
	border: 3px solid #f2f2f2;
	padding: 4px 5px;
	cursor: pointer;
	line-height: 0;
}
#donate-modal form ul li:hover, #donate-modal form ul li.selected{
	border: 3px solid #333;
}
#donate-modal form input{
	height: 40px;
	color: #333;
	font-family: "league gothic", helvetica;
	text-transform: capitalize;
}
#donate-modal form input{
	height: 40px;
	color: #333;
	font-family: "league gothic", helvetica;
	font-size: 2em;
}
#donate-modal #street{
	width: 100%;
}
#donate-modal #city{
	width: 45%;
	margin-top: 20px;
}
#donate-modal #state, #donate-modal #zip{
	padding: 0;
	width: 25%;
	margin-top: 20px;
}





