
/*
*****************************
This stylesheet has deviated from desktop.css

*****************************
*/




@charset "utf-8";

* {margin:0; padding:0;}

body{
	margin: 0;
	padding: 0;
	background: #ededed;
	
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2em;
	font-family: "brix", helvetica;
	-webkit-font-smoothing: antialiased;
}

h3 {
	font-size: 2em;
}

ul#nav {
	display: none;
	width: 96%;
	position: fixed;
	left: 0;
	padding: 2%;
	z-index: 99;
	margin: 60px 0 0 0 ;
	background: white;
}

ul#nav li { 
	width: 100%; 
	padding: 0; 
	margin: 0;
}

ul#nav > li > a {
	display: block;
	float: left;
	padding: 4%;
	margin: 2% 0;
	width: 92%;
	color: #555;
	border-radius: 8px;
	background: #efefef;
	text-align: center;
}

img.nav_button,
img.nav_x {
	width: 20px;
	margin: 20px;
	float: right;
}

#logo {
	padding: 12px 2px;
}

#logo a img {
	width: 40px;
}

#logo_skull {
	display: none;
}

#logo_nav > .mobileonly, .mobileonly {display: block;}
#logo_nav > .nav_button,
#logo_nav > .nav_x { float: right;}
#logo_nav > .nav_x {display: none;}
.nav_button,
.nav_x {
	width: 20px;
	float: right;
}

/*
::::::::::::::::
::: HOME ::::
::::::::::::::::
*/

.body_ p {
	margin: 0 0 20px 0;	
}

.body_ h2 { margin: 0; }

h2#tagline {
	margin: 300px 0 0 0 ;
	color: white;
	text-shadow: rgba(0, 0, 0, 0.14902) 0px 2px 1px;
}

.body_ #intro{
	/*
	the height of this div determines how long the scroll is.
	Make sure to also edit the JS
	*/

}

#overlaid{
	/*
	This is the image that fades in 
	*/
	background-image:  url(http://delmarsenties.s3.amazonaws.com/resilient/hero2.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: 50% 0 ;
	background-attachment: fixed;
	color: white;
	height: 600px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	z-index: -1;
	position: absolute;
	top: 0;
	width: 100%;
}

#underlaid{
	/*
	This is the bottom image 
	*/
	z-index:-2;
	background-image:  url(http://delmarsenties.s3.amazonaws.com/resilient/hero1.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: 50% 0 ;
	background-attachment: fixed;	color: white;
	position: absolute;
	width: 100%;
	height: 600px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}

.body_ #container,
.body_ .container {
	position: absolute;
	width: 100%;
	z-index:4;
	margin: 0;
}

.body_ #header {
	width: 70%;
	margin: 100px 0 0 -35%;
	background: white;
	position: absolute;
	left: 50%;
	background: transparent;
	z-index: 4;
}

.body_ #tier2,
.body_ #tier3 {
	float: left;
}

.body_ #tier2 {
	width: 100%;
	margin: 200px 0 0 0;
	padding: 50px 0 90px 0;
	background: #f7f7f7;
}

.body_ #tier3 {
	background: #333;
	color: #f7f7f7;
}

.body_ #tier2 h2 { margin:0; }
.body_ #tier3 h2 { margin:1.2em 0 0 0; }

.body_ #tier2 p,
.body_ #tier3 p { padding: 5%; }

.body_ .footer {
	background: #333;
	color: #ccc;
}


/*
::::::::::::::::
::: PAGES ::::
::::::::::::::::
*/

.container {
	margin: 0px 5%;
	width: 90%;
}

.body_program #tier3 p { padding: 0 5%; }

.hero {
	height: 160px;
	margin: 60px auto 0 auto;
}

.body_students .hero { background-image: url(https://delmarsenties.s3.amazonaws.com/resilient/teep_lj_640.jpg);}
.body_you .hero { background-image: url(https://delmarsenties.s3.amazonaws.com/resilient/teep_ed_640.jpg);}
.body_program .hero { background-image: url(https://delmarsenties.s3.amazonaws.com/resilient/teep_rk_640.jpg);}
.body_partners .hero { background-image: url(https://delmarsenties.s3.amazonaws.com/resilient/tugg_640.jpg);}
.body_donate .hero { background-image: url(https://delmarsenties.s3.amazonaws.com/resilient/teep_ao_640.jpg);}
.body_team .hero {background-image: url(https://delmarsenties.s3.amazonaws.com/resilient/coworkingboys_640.JPG);}
.body_lab .hero {background-image: url(https://delmarsenties.s3.amazonaws.com/resilient/lorenzo_coding_640.JPG);}
.body_roadmap .hero { height: 40px;}

/*
::::::::::::::::
::: Team ::::
::::::::::::::::
*/

.body_team .team li a, 
.body_team .team li a.unselected,
.body_team .team li a:hover,
.body_team .team li a:hover.unselected {
	border: 0px;
	width: 25%;
}

.team ul{ width: 100%; margin: 0 auto; }

.team_writeup {
	float: left;
	padding-top: 80px;
	width: 96%;
	margin: 0 2%;
}

.partners ul > * {
	width: 90%;
	padding: 0 3%;
}

#s_detail {
	width: 100%;
	height: 1px;
	float: left;
	margin-top: 0px;
	padding: 0;
}

/*
::::::::::::::::
:::: Donate ::::
::::::::::::::::
*/

.merch{
	width: 100%;
	
}
#shirt-r{
	float: left;
	background: url('../donate/i/red-f.png') no-repeat top center;
}

.body_donate #tier2 img,
.body_donate #tier2 p.lorenzo_andre {
	float: left;
}

.body_donate #tier2 img {
	width: 100%;
	margin: 0;
	border: 0px;
}

.body_donate #tier2 p.lorenzo_andre {
	margin: 20px 0 0 0;
	width: 100%;
}

.donate-button, input[type="submit"].donate-button {
	width: 100%;
	padding: 5% 0;
}

.donate-button:first-child {
	margin: 0 0 1% 0;
}

.modal .donate-button {
	font-size: 1.6em;
}

/*
:::::::::::::::
:: MICAH VIDEO
:::::::::::::::
*/

#micahvideo iframe {width: 90%; height: 169px;}

#micahvideo #video {
	padding: 0 5%;
	width:90%;
}
