
/*
*****************************
This stylesheet has deviated from desktop.css

*****************************
*/




@charset "utf-8";

* {margin:0; padding:0;}

body{
	margin: 0;
	padding: 0;
	background: #ededed;
	
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2em;
	font-family: "brix", helvetica;
	-webkit-font-smoothing: antialiased;
}

h3 {
	font-size: 2em;
}

ul#nav {
	display: none;
	width: 96%;
	position: fixed;
	left: 0;
	padding: 2%;
	z-index: 99;
	margin: 50px 0 0 0 ;
	background: white;
}

ul#nav li { padding: 0; margin: 0;}

ul#nav > li > a {
	display: block;
	float: left;
	padding: 4%;
	margin: 2% 0;
	width: 92%;
	color: #555;
	border-radius: 8px;
	background: #efefef;
	text-align: center;
}

#logo {
	padding: 12px 2px;
}

#logo a img {
	width: 40px;
}

#logo_skull {
	display: none;
}

#logo_nav > .mobileonly, .mobileonly {display: block;}
#logo_nav > .nav_button,
#logo_nav > .nav_x { float: right;}
#logo_nav > .nav_x {display: none;}
.nav_button,
.nav_x {
	width: 20px;
	float: right;
}

/*
::::::::::::::::
::: HOME ::::
::::::::::::::::
*/

.body_ p {
	margin: 0 0 20px 0;	
}

.body_ h2 { margin: 0; }

h2#tagline {
	margin: 300px 0 0 0 ;
	color: white;
	text-shadow: rgba(0, 0, 0, 0.14902) 0px 2px 1px;
}

.body_ #intro{
	/*
	the height of this div determines how long the scroll is.
	Make sure to also edit the JS
	*/

}

#overlaid{
	/*
	This is the image that fades in 
	*/
	background-image:  url(http://delmarsenties.s3.amazonaws.com/resilient/hero2.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: 50% 0 ;
	background-attachment: fixed;
	color: white;
	height: 600px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	z-index: -1;
	position: absolute;
	top: 0;
	width: 100%;
}

#underlaid{
	/*
	This is the bottom image 
	*/
	z-index:-2;
	background-image:  url(http://delmarsenties.s3.amazonaws.com/resilient/hero1.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: 50% 0 ;
	background-attachment: fixed;	color: white;
	position: absolute;
	width: 100%;
	height: 600px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}

.body_ #container {
	position: absolute;
	width: 100%;
	z-index:4;
	margin: 0;
}

.body_ #header {
	width: 70%;
	margin: 100px 0 0 -35%;
	background: white;
	position: absolute;
	left: 50%;
	background: transparent;
	z-index: 4;
}

.body_ #tier2,
.body_ #tier3 {
	float: left;
}

.body_ #tier2 {
	width: 100%;
	margin: 200px 0 0 0;
	padding: 50px 0 90px 0;
	background: #f7f7f7;
}

.body_ #tier3 {
	background: #333;
	color: #f7f7f7;
}

.body_ #tier2 h2 { margin:0; }
.body_ #tier3 h2 { margin:1.2em 0 0 0; }

.body_ #tier2 p,
.body_ #tier3 p { padding: 5%; }

.body_ .footer {
	background: #333;
	color: #ccc;
}


/*
::::::::::::::::
::: PAGES ::::
::::::::::::::::
*/

#container {
	margin: 140px auto 0px auto;
	width: 800px;
}

#tier2 img {width: 100%; }



#container {
	margin: 0px 5%;
	width: 90%;
}

#tier2 img {width:75%; }

.hero {
	height: 160px;
	margin: 60px auto 0 auto;
	
}

.body_students .hero { background-image: url(https://delmarsenties.s3.amazonaws.com/resilient/teep_lj_640.jpg);}
.body_you .hero { background-image: url(https://delmarsenties.s3.amazonaws.com/resilient/teep_ed_640.jpg);}
.body_program .hero { background-image: url(https://delmarsenties.s3.amazonaws.com/resilient/teep_rk_640.jpg);}
.body_partners .hero { background-image: url(https://delmarsenties.s3.amazonaws.com/resilient/tugg_640.jpg);}
.body_lab .hero { background-image: url(https://delmarsenties.s3.amazonaws.com/resilient/teep_ao_640.jpg);}
.body_roadmap .hero { height: 40px;}

