
/*
*****************************
This stylesheet has deviated from desktop.css

*****************************
*/




@charset "utf-8";

* {margin:0; padding:0;}

body{
	margin: 0;
	padding: 0;
	background: #ededed;
	
}

h1 {
	font-size: 6em;
}

h2 {
	font-size: 4em;
	font-family: "brix", helvetica;
	-webkit-font-smoothing: antialiased;
}

h3 {
	font-size: 2em;
}

#logo {padding: 8px;}

#logo a img {
	width: 80px;
}

#logo_nav {
	box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 1px;
}

#logo_nav > .mobileonly,
.mobileonly {display: none;}

#nav li {
	margin: 2em 1em;
}

#nav li a {
	font-size: 1.8em;	
}



/*
::::::::::::::::
::: HOME ::::
::::::::::::::::
*/

.body_ p {
	margin: 0 0 20px 0;	
}

.body_ h2 { margin: 0; }

h2#tagline {
	margin: 300px 0 0 0 ;
	color: white;
	text-shadow: rgba(0, 0, 0, 0.14902) 0px 2px 1px;
}

.body_ #intro{
	/*
	the height of this div determines how long the scroll is.
	Make sure to also edit the JS
	*/
	height:400px;
	width:100%;
	position: absolute;
	top:0;
	left:0;
	z-index:194;
}

#overlaid{
	/*
	This is the image that fades in 
	*/
	background-image:  url(http://delmarsenties.s3.amazonaws.com/resilient/hero2.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: 50% 0 ;
	background-attachment: fixed;
	color: white;
	height: 600px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	z-index: 2;
	position: absolute;
	top: 0;
	width: 100%;
}

#underlaid{
	/*
	This is the bottom image 
	*/
	z-index:1;
	background-image:  url(http://delmarsenties.s3.amazonaws.com/resilient/hero1.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: 50% 0 ;
	background-attachment: fixed;	color: white;
	position: absolute;
	width: 100%;
	height: 600px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}

.body_ #container {
	position: absolute;
	width: 100%;
	z-index:4;
	margin: 0;
}

.body_ section {
	text-align: center;
	max-width: 800px;
	margin: 0 auto;
}

.body_ #header section {
	text-align: left;
}

.body_ #header {
	width: 70%;
	background: white;
	position: absolute;
	left: 20px;
	top: 20px;
	background: transparent;
	z-index: 4;
} 

.body_ #tier2 {
	position: absolute;
	top: 500px;
	text-align: center;
	width: 100%;
	padding: 60px 0 90px 0;
	z-index: 3;
}

.body_ #tier3 {
	position: absolute;
	top: 1200px;
	background: #333;
	color: #f7f7f7;
}

.body_ #tier2 p,
.body_ #tier3 p { padding: 5%; }

.body_ #tier2 h2 {
	margin: 100px 0 30px 0;
}

.body_ #tier3 h2 {
	margin: 1.2em 0 .5em 0;
}

#footer_home .footer {
	position: absolute;
	top: 1550px;
	z-index:4;
}

.body_ .footer {
	background: #333;
	color: #ccc;
	border-top: 1px solid #4e4e4e;
}


/*
::::::::::::::::
::: PAGES ::::
::::::::::::::::
*/

#container,
.container800 {
	margin: 0px auto;
	text-align: center;
	width: 800px;
	padding: 40px 0 80px 0;
	
}

#container {
	margin: 0px 5%;
	width: 90%;
}

.hero {
	height: 400px;
	margin: 80px auto 0 auto;
}

.body_students .hero { background-image: url(https://delmarsenties.s3.amazonaws.com/resilient/teep_lj.png);}
.body_you .hero { background-image: url(https://delmarsenties.s3.amazonaws.com/resilient/teep_ed.png);}
.body_program .hero { background-image: url(https://delmarsenties.s3.amazonaws.com/resilient/teep_rk.jpg);}
.body_partners .hero { background-image: url(https://delmarsenties.s3.amazonaws.com/resilient/tugg.jpg);}
.body_donate .hero { background-image: url(https://delmarsenties.s3.amazonaws.com/resilient/teep_ao.jpg);}
.body_team .hero {background-image: url(https://delmarsenties.s3.amazonaws.com/resilient/coworkingboys1.gif);}
.body_lab .hero {background-image: url(https://delmarsenties.s3.amazonaws.com/resilient/lorenzo_coding.gif);}

.body_roadmap .hero { height: 60px;}


/*
::::::::::::::::
::: ROADMAP ::::
::::::::::::::::
*/

.body_roadmap h4, 
.body_roadmap .product ul {
	float: left;
	width: 46%;
	display:block;
}

.body_roadmap h4 {
	text-align: right;
	margin: 0 4% 0 0;
	line-height: 1.6em;
}

/*
::::::::::::::::
::: Team ::::
::::::::::::::::
*/

.body_team .team li a, 
.body_team .team li a.unselected,
.body_team .team li a:hover,
.body_team .team li a:hover.unselected {
	width: 32%;
	border: 1px solid transparent;
}

.team ul{ width: 50%; }

.team_writeup {
	float: left;
	text-align: left;
	padding: 80px 0 0 30px;
	width: 40%;
}

/*
::::::::::::::::
::: Donate ::::
::::::::::::::::
*/

.body_donate #tier2 img,
.body_donate #tier2 p.lorenzo_andre {
	float: left;
}

.body_donate #tier2 img {
	width: 40%;
	margin: 0 5% 0 0;
	border: 8px solid white;
}

.body_donate #tier2 p.lorenzo_andre {
	width: 50%;
}

.donate-button, input[type="submit"].donate-button{
	width: 38%;
	padding: 5%;
}

form .donate-button, form input[type="submit"].donate-button{
	width: 90%;
	padding: 5%;
}

.donate-button:first-child {
	margin: 0 1% 0 0;
}
