
/*
*****************************
Deviations from desktop:

#container
#tier2 img {width:75%; }
removed min-width from body
*****************************
*/



@charset "utf-8";

* {margin:0; padding:0;}

body{
	margin: 0;
	padding: 0;
	background: #ededed;
	
}

h1 {
	font-family: "league gothic", helvetica;
	font-size: 10em;
	text-transform: uppercase;
	text-shadow: rgba(0, 0, 0, 0.15) 0px 2px 1px;
	color: white;
	-webkit-font-smoothing: antialiased;
}

h2 {
	font-size: 4em;
	font-family: "brix", helvetica;
	-webkit-font-smoothing: antialiased;
}

h3 {
	font-size: 2em;
}


/*
::::::::::::::::
::: HOME ::::
::::::::::::::::
*/

.body_ p{
	margin: 0 0 20px 0;	
	font-size: 1.6em;
}

.body_ h2 { margin: 0; }

h2#tagline {
	margin: 300px 0 0 0 ;
	opacity: 0;
	color: white;
	text-shadow: rgba(0, 0, 0, 0.14902) 0px 2px 1px;
}

.body_ #intro{
	/*
	the height of this div determines how long the scroll is.
	Make sure to also edit the JS
	*/
	height:500px;
	width:100%;
	position: absolute;
	top:0;
	left:0;
	z-index:194;
}

#logo a {
	background-size: 50%;
	width: 200px;
	height: 75px;
	z-index: 0;
	position: fixed;
	top: 20px;
	left: 0;
}

#overlaid{
	/*
	This is the image that fades in 
	*/
	background-image:  url(http://delmarsenties.s3.amazonaws.com/resilient/hero1_blurred.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: 50% 0 ;
	background-attachment: fixed;
	color: white;
	height: 1100px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	z-index: 2;
	position: absolute;
	top: 0;
	width: 100%;
}

#underlaid{
	/*
	This is the bottom image 
	*/
	z-index:1;
	background-image:  url(http://delmarsenties.s3.amazonaws.com/resilient/hero1_clear.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: 50% 0 ;
	background-attachment: fixed;	color: white;
	position: absolute;
	width: 100%;
	height: 1100px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}

.body_ #container {
	position: absolute;
	width: 100%;
	z-index:4;
	margin: 0;
}

.body_ #header {
	width: 70%;
	margin: 400px 0 0 -35%;
	background: white;
	position: absolute;
	left: 50%;
	background: transparent;
	z-index: 4;
}

.body_ #tier2 {
	position: absolute;
	top: 1100px;
	text-align: center;
	width: 100%;
	padding: 60px 0 90px 0;
	z-index: 3;
}

.body_ #tier2 * {opacity:0;}

.body_ #tier3 {
	position: absolute;
	top: 1507px;
	padding: 60px 0 90px 0;
	background: #333;
	color: #f7f7f7;
}

.body_ #tier3 * {opacity:0;}

.product {
	width: 750px;
	margin: 40px auto;
	text-align: center;
}

#tier2 .product a {
	float: left;
	width: 350px;
	height: 80px;
	border: 8px solid white;
	padding: 30px 0;
	color: #333;
	background: #f7f7f7;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 1px;
}

#tier2 .product a:hover {
	background: #333;
	color: #ccc;
}

.product a.resilient { 
	/* background: url(http://delmarsenties.s3.amazonaws.com/resilient/busstop_thumb.jpg) center top no-repeat; */
	background-size: 100% auto;
}

.product a.brass { 
	/* background: url(http://delmarsenties.s3.amazonaws.com/resilient/brass_thumb.png) center top no-repeat; */
	background-size: 100% auto;
	margin: 0 0 0 12px;
}

.product a h3 {
	margin: 0px auto 20px auto;
}

.product > p {
	margin: 30px 0 0 0 ;
}

#footer_home .footer {
	position: absolute;
	top: 1960px;
	z-index:4;
}

.body_ .footer {
	background: #333;
	color: #ccc;
	border-top: 1px solid #4e4e4e;
}


/*
::::::::::::::::
::: PAGES ::::
::::::::::::::::
*/

.body_rlab #header {
	width: 100%;
	height: 300px;
	background-image: url(http://delmarsenties.s3.amazonaws.com/resilient/hero2_clear.jpg);
	background-position: center 70%;
	background-repeat: no-repeat;
	background-size: 100%;
}


#container {
	margin: 140px 5% 0px 5%;
	width: 90%;
}

#tier2 img {width:75%; }
